<div class="container body-content" ng-controller="songController">
    <!--Had to put songController globally because sending PlaylistId of a song to a filter wouldn't be possible-->
    <div class="jumbotron text-center">
        <h1>Add a song</h1>
        <p class="lead">Please fill the info down below</p>
    </div>
    
    <div class="container col-md-6">
        <a class="btn btn-default" href="#!/">Back</a>

        <!-- Pristine - has element been "touched" before? Once touched, stays that way(false). -->
        <form novalidate="novalidate" name="SongInputForm" ng-submit="saveSong(SongInputForm.$valid)">
            <div class="form-group" ng-class="{ 'has-error': !SongInputForm.SongTitle.$valid && (!SongInputForm.SongTitle.$pristine || SongInputForm.$submitted),
                                                'has-success': SongInputForm.SongTitle.$valid}">
                <label for="songTitle">Song title</label>
                <input type="text" class="form-control" ng-model="song.Name" required name="SongTitle" ng-maxlength="20">
                <p class="help-block" ng-show="!SongInputForm.SongTitle.$valid && !SongInputForm.$pristine">This field is required.</p>
                <p class="help-block" ng-show="SongInputForm.SongTitle.$error.maxlength">You can enter up to 20 characters.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error': !SongInputForm.SongAuthor.$valid && (!SongInputForm.SongAuthor.$pristine || SongInputForm.$submitted),
                                                'has-success': SongInputForm.SongAuthor.$valid}">
                <label for="songAuthor">Author</label>
                <input type="text" class="form-control" ng-model="song.Author" required name="SongAuthor" ng-maxlength="20">
                <p class="help-block" ng-show="!SongInputForm.SongAuthor.$valid && !SongInputForm.SongAuthor.$pristine">This field is required.</p>
                <p class="help-block" ng-show="SongInputForm.SongTitle.$error.maxlength">You can enter up to 20 characters.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error': !SongInputForm.SongLength.$valid && (!SongInputForm.SongLength.$pristine || SongInputForm.$submitted),
                                                'has-success': SongInputForm.SongLength.$valid}">
                <label for="Length">Length</label>
                <input type="number" class="form-control" ng-model="song.Length" required name="SongLength" ng-pattern="integerval" ng-maxlength="4" min="1">
                <p class="help-block" ng-show="!SongInputForm.SongLength.$valid && !SongInputForm.SongLength.$pristine">
                    This field is required. Only numbers are allowed</p>
                <p class="help-block" ng-show="SongInputForm.SongLength.$error.maxlength">Number too big.</p>

            </div>
                
            <button type="submit" class="btn btn-default">Submit</button>
        </form>
    </div>
    
    <div class="container col-md-6" ng-controller="playlistController">
        <h2>Add song to playlist:</h2>

        <!--Had an error here - form name can't be the same as ng-click function name...won't work that way. Changing name will fix it-->
        <form name="addingSongToPlaylist">
            <form-group>
                <select ng-model="PlaylistId" ng-hide="playlists == '' || song.Playlists == null">
                    <option selected disabled value="">Select the playlist</option>
                    <option ng-repeat="playlist in playlists | songFilter:song.Playlists track by $index" value="{{playlist.PlaylistId}}"> {{playlist.Name}} </option>
                </select>

                <p ng-show="playlists == ''">There are no available playlists at the moment.</p>
                <p ng-show="song.Playlists == null">Please submit the song first.</p>

                <button class="btn btn-default" type="submit" ng-hide="playlists == '' || song.Playlists == null" ng-click="addSongToPlaylist()">Add</button>
            </form-group>
        </form>
    </div> 
</div>
