<div class="container body-content">
    <div class="jumbotron text-center">
        <h1>Songs & Playlists</h1>
        <p class="lead">You can see the songs and playlists down below</p>
    </div>

    <div class="container col-md-8" ng-controller="songController">
        <h1>Songs</h1>
        <a class="btn btn-default" href="#!/Song/Add">Add</a>
        
        <table class="table table-hover table-condensed" id="songs-table">
            <tr>
                <th>Name</th>
                <th>Author</th>
                <th>Length (sec)</th>
                <th></th>
            </tr>
            <tr ng-repeat="song in songs">
                <td>{{ song.Name }}</td>
                <td>{{ song.Author }}</td>
                <td>{{ song.Length }}</td>
                <td>
                    <a href="#!/Song/Update/{{ song.SongId }}" class="btn btn-primary">Edit/Add to playlist</a>
                    <a class="btn btn-danger" ng-click="deleteSong(song.SongId)">Delete</a>
                </td>
            </tr>
        </table>
    </div>

    <div class="container col-md-4" ng-controller="playlistController">
        <h1>Playlists</h1>
        <a class="btn btn-default" href="#!/Playlist/Add">Add</a>

        <table class="table table-hover table-condensed" id="playlists-table">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
            <tr ng-repeat="playlist in playlists">
                <td>{{ playlist.Name }}</td>
                <td>
                    <a href="#!/Playlist/Update/{{ playlist.PlaylistId }}" class="btn btn-primary">Edit</a>
                    <a class="btn btn-danger" ng-click="deletePlaylist(playlist.PlaylistId)">Delete</a>
                </td>
            </tr>
        </table>
    </div>
</div>